@charset "UTF-8";
/***************************还原 无装饰***********************/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, del, em, img, i, ol, ul, li, form{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent; /*背景透明*/
}
img, input, button {
    border:none;
    padding: 0;
    margin:0;
    outline-style: none; /*属性用于设置元素的整个轮廓的样式*/
}
ul,ol,li{
    list-style-type: none;
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体"; /*都是宋体*/
}
select, input{
    vertical-align: middle;
}
select, input, textarea{
    font-size: 12px;
    margin:0;
}
textarea {
    resize: none;
}
img{
    border:0;
    vertical-align: middle;
    /*去缝隙*/
}

body{
    font: 12px Arial,Verdana; /* 都是宋体 */
    color: #666;
    background: #F6F6F6;
;
}

/*取消浮动*/
.clearfix:before, .clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}



a {
    margin:0;
    padding:0;
    text-decoration: none;
    /*font-size:100%;*/
    /*vertical-align:baseline;*/
    /*background:transparent;*/
    color: #999;
}
a:hover{
    color: orange !important;
    transition: color 0.2s ease-in-out 0s;
    /*transition ： [
    <'transition-property'> ||
    <'transition-duration'> ||
    <'transition-timing-function'> ||
    <'transition-delay'>
    [, [<'transition-property'> || <'transition-duration'> || <'transition-timing-function'> || <'transition-delay'>]]**/

}
h1,h2,h3,h4,h5,h6{
    text-decoration: none;
    font-weight:normal;
    font-size:100%;
}
s, i, em{
    font-style: normal;
    text-decoration: none;
}
/*????? 不晓得干啥的*/
.col-red{
    color: #c81623 !important;
}
/************************** 还原 无装饰 over **************************/

/*公共类*/
.w {
    /*版心*/
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/*.al {*/
    /*text-align: left;*/
/*}*/
/*.ac {*/
    /*text-align: center;*/
/*}*/
/*.ar {*/
    /*text-align: right;*/
/*}*/
/*.hide {*/
    /*display: none;*/
/*}*/

    /*<!--网站导航 site-nav start-->*/
        /*左侧 start*/
    .site-nav {
        background-color: #f1f1f1;
        height: 30px;
        line-height: 30px; /*让文件变大，就可以让字符居中*/
        font-family: "verdana,simsun";
        color: #999 !important;
    }
    .site-nav-send {
        position: relative;
        padding-right: 30px;
        padding-left:10px;
        margin-left: 10px;
    }
        /*小三角 start  给右侧的 和 左侧arrow-down 使用， 因为右侧的是先做的， 所以就没有整合 在一起 TODO */
    .site-nav-send i:last-child,
    .arrow-down i{
        position: absolute;
        top: 12px;
        right: 6px;
        width: 17px;
        height: 9px;
        overflow: hidden;
    }
    .site-nav-send s,
    .arrow-down s {
        position: absolute;
        top:-6px;
        font: 400 20px/15px "consolas";
    }
        /*小三角 over*/

    .site-nav-send:hover {
        background-color: white;
    }
    
        /*右侧 start*/
    .site-nav .site-nav-right-wrap li{
        position: relative;
        float: left;
        padding: 0px 12px;
    }
    .site-nav .site-nav-right-wrap .arrow-down{
        padding-right: 25px;
    }
        /*中间的间隔*/
    .site-nav .site-nav-right-wrap .line{
        width: 1px;
        padding:0px;
        height: 12px;
        background: #DDD;
        margin-top: 8px;
    }
    .arrow-down:hover {
        background: #fff;
    }

        /*平时不显示的东西*/
    /*.site-nav-city{*/
        /*display: none;*/
    /*}*/

    /*<!--网站导航 site-nav over-->*/


    /*<!--网站条幅 start （圣诞必买！！）-->*/
    .top-banner {
        background-color: #103927;
    }
    .top-banner .w{
        position: relative;
        overflow: hidden;
    }
    .close-banner {
        position: absolute;
        right:4px;
        top: 7px;
        width:20px;
        height:20px;
        background: url("../img/across-close-banner.png") no-repeat;
    }
    /*<!--网站条幅 stop （圣诞必买！！）-->*/

    /*<!--搜索栏 start -->*/
    .search , .shortcut-nav{
        background: white;
    }
    .search-log {
        width: 362px;
        height: 60px;
        padding: 25px 0px 10px 0;
        float:left;
    }
    .search-log a{
        display: block;
        width: 270px;
        height: 60px;
        text-indent: -9999em; /*隐藏文字  不能太大*/
        background: url("../img/京东全球售LOG.png") no-repeat;
    }
    .search-input {
        float: left;
        /*width:538px;*/
        height:36px;
        float: left;
        /*background: blue;*/
        padding-top: 25px;
    }
    .search-input input {
        float: left;
        width: 350px;
        height: 32px;
        border: 2px solid #C91623;
        border-right:0;
        padding-left: 4px;
        color: #666;
        font-size: 14px ;
        line-height: 32px;
        margin-left: 90px;
    }
    .search-input button{
        width: 82px;
        height: 36px;
        background-color: #C91623;
        color:#fff;
        font-size: 16px;
        line-height: 32px;
        font-family: tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
        cursor: pointer; /*模拟鼠标 小手*/
    }

    .search-car {
        float: left;
        width: 139px;
        height: 34px;
        border: 1px solid #DFDFDF;
        margin:25px 80px 0 30px;
        line-height: 34px;
        text-align: center;
        position: relative;
        background: #F9F9F9;
    }
    .search-car a{
        display: inline-block;
        text-indent: -33px;
        color: #F30213;
    }
    .search-car .icon1 {
        background-color: red;
        position: absolute;
        right:17px;
        top:5px;
        display: inline-block;
        width:14px;
        height:14px;
        border-radius: 14px;
        font: 12px/12px "sans-serif";
        color: white;
        vertical-align: baseline;
    }
    .search-car .icon3 {
        color: red;
        width: 10px;
        height: 10px;
        position: absolute;
        top:11px;
        right:33px;
    }
    .search-moreAlink {
        float: left;
        width: 530px;
        height: 28px;
        /*background: palevioletred;*/
        margin-left: 90px;
    }
    .search-moreAlink li{
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
    /*.search-moreAlink a{*/
        /*color: #000;*/
    /*}*/


    /*<!--搜索栏 end -->*/



    /*<!--footer start-->*/
    .footer {
        background: #EAEAEA;
        padding-bottom: 50px;
    }
    .footer-top-slogen {
        height:94px;
    }
    .footer-top-slogen-icon {
        display: inline-block;
        width: 292px;
        height: 42px;
        color: #444;
        text-indent: 46px;
        font: 700 18px/42px tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
        margin: 30px 0px;
    }
    .footer-top-slogen-icon1 {
        background: url("../img/多快好省.png") no-repeat  0px 0px;
    }
    .footer-top-slogen-icon2 {
        background: url("../img/多快好省.png") no-repeat  0px -43px;
    }
    .footer-top-slogen-icon3 {
        background: url("../img/多快好省.png") no-repeat  0px -86px;
    }
    .footer-top-slogen-icon4 {
        background: url("../img/多快好省.png") no-repeat  0px -129px;
    }

    .footer-top-shopping {
        padding: 15px 0px 15px 0px;
        border-top:solid 1px #dedede;
        border-bottom: solid 1px #dedede;
        margin-bottom: 18px;
    }
    .footer-top-shopping dl {
        float: left;
        width:240px;
    }
    .footer-top-shopping dt {
        padding-bottom: 6px;
        font-weight: 700;
        font-size: 14px;
        color: #777;
        height: 22px;
    }
    .footer-top-shopping dd ,.footer-top-shopping dd a{
        line-height: 21px;
        font-size: 12px;
        color: #666;
        text-decoration: none;
        cursor: pointer;
        margin:0px;
    }
    .footer-top-shopping dd a:hover, .footer-bottom-links div p a:hover{
        color: orange;
        transition: color 0.2s ease-in-out 0s;
    }

    .footer-bottom .footer-bottom-links p {
        text-align: center;
    }
    .footer-bottom .footer-bottom-links p a {
        font-size: 12px;
        color: #666;
    }
    .copyright_split {
        color: #ccc;
        margin: 0 10px;
    }

    .footer-bottom-copyright-info {
        text-align: center;
        padding: 10px 0px;
        line-height: 22px;
    }
    .footer-bottom-copyright-info p{
        color: #999;
    }
        /*国旗*/
    .global-flag-icon-1 {  
        background: url("../img/contry_flags.png") no-repeat;
        width: 15px;
        height: 12px;
        display: inline-block;
    }
    .global-flag-icon-5 {
        background: url("../img/contry_flags.png") no-repeat  -20px -16px ;
        width: 15px;
        height: 12px;
        display: inline-block;
    }
    .global-flag-icon-2 {
        background: url("../img/contry_flags.png") no-repeat -20px 0px;
        width: 15px;
        height: 12px;
        display: inline-block;
    }
    .global-flag-icon-3 {
        background: url("../img/contry_flags.png") no-repeat -40px 0px;
        width: 15px;
        height: 12px;
        display: inline-block;
    }
    .global-flag-icon-4 {
        background: url("../img/contry_flags.png") no-repeat  0px -16px;
        width: 15px;
        height: 12px;
        display: inline-block;
    }
        /*网络警察*/
    .footer-bottom-img {
        text-align: center;
    }
    .copyright_auth_ico_2 {
        background: url("../img/举报图片.png") no-repeat -103px 0px;
        width:103px;
        height: 32px;
        display: inline-block;
        text-indent: -9990px;
    }

    .copyright_auth_ico_3 {
        background: url("../img/举报图片.png") no-repeat 0px -32px;
        width:103px;
        height: 32px;
        display: inline-block;
        text-indent: -9990px;
    }
    .copyright_auth_ico_4 {
        background: url("../img/举报图片.png") no-repeat -103px -32px;
        width:103px;
        height: 32px;
        display: inline-block;
        text-indent: -9990px;
    }
    .copyright_auth_ico_5 {
        background: url("../img/举报图片.png") no-repeat -0px -64px;
        width:103px;
        height: 32px;
        display: inline-block;
        text-indent: -9990px;
    }
    .copyright_auth_ico_6 {
        background: url("../img/举报图片.png") no-repeat -103px -64px;
        width:103px;
        height: 32px;
        display: inline-block;
        text-indent: -9990px;
    }
    /*<!--footer end-->*/


/*<!--商品分类 缩略栏 start -->*/
    .shortcut-nav {
        height: 36px;
        border-bottom: 0px solid #000;
    }
    .shortcut-nav-menu {
        float: left;
    }
    .shortcut-nav-menu-all{
        background: #C91623;
        width:210px;
        height:35px;
        color: white;
    }
    .shortcut-nav-menu i, .shortcut-nav-menu span{
        padding:5px 0px 5px 10px;
        vertical-align: middle;
        font-size:14px;
        line-height:27px;
    }

    .shortcut-nav-menu-items {
        width: 210px;
        height: 443px;
        background: rgba(255,255,255,0.9);
        /*border: 1px solid #000;*/
        position: absolute;
    }
    .shortcut-nav-menu-items>ul>li>div>a{  /*把a改成flex的,里面的名字 和after元素的排列*/
        color: #000;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 165px;
    }
    .shortcut-nav-menu-items>ul>li>div{
        height: 36px;
        width: 165px;
        padding-right: 10px;
        margin: 0 auto;
        /*position: relative;*/
        border-top: 1px dotted #ccc;
        overflow: hidden;
        line-height:36px;
    }
    .shortcut-nav-menu-items>ul>li:first-child>div {
        border-top: 0;
    }

    .shortcut-nav-menu-items>ul>li>div>a:after{
        content: "";
        /*position: absolute;*/
        /*right: 15px;*/
        /*top: 13px;*/
        width: 6px;
        height: 10px;
        background: url("../img/icon-arrow-to-right.png") no-repeat;

    }
    .shortcut-nav-menu-items>ul>li:hover {
        background: white;
        overflow: visible;
    }

    .shortcut-nav-items {
        height: 35px;
    }
    .shortcut-nav-items div {
        display: inline-block;
        box-sizing: border-box;
        line-height: 37px;
        font-size: 14px;
        width:100px;
        height:35px;
        padding: 0px 22px;
        text-align: center;
    }
    .shortcut-nav .shortcut-nav-items  a {
        color: black;
    }

.shortcut-nav-menu-details{
    display: none;
    visibility: hidden;
}
.shortcut-nav-menu-items li>div {
    overflow: visible;
}
.shortcut-nav-menu-items li:hover  .shortcut-nav-menu-details{
    box-sizing: border-box;
    visibility: visible;
    display: block;
    z-index: 999;
    width: 850px;
    height: 443px;
    position: absolute;
    /*left:174px;*/
    left:100%;
    top:0px;
    border:0px;
    background: white;
    box-shadow: 9px 9px 15px rgba(66,66,66,.26);
    padding-left: 10px;;

    /*border: 1px solid #000;*/
}
.shortcut-nav-menu-details {
}
.details-right ul{
    width: 600px;
    float: left;
    /*background: blanchedalmond;*/
}
.details-left-ad {
    float: right;
    width: 192px;
    /*height: 100px;*/
    /*background: red;*/
}

/*右边的很多小选项*/
.details-right>ul>li {
    padding-left: 80px;
    position: relative;
    /*background: red;*/
}
.details-right>ul>li>div:nth-child(1)>a {
    display: block;
    position: absolute;
    left:10px;
    top:0px;
    line-height: 45px;
    color: #666;
    text-decoration: none;
    font-weight: 700;
}
.details-right>ul>li>div:nth-child(1)>a:after{
    content: " >";
}
.details-right>ul>li>div:nth-child(2) {
    display: flex;
    flex-wrap:wrap;
    margin: 10px;
    border-top: 1px dashed #eee;
    padding-top: 10px;

}
/*第一个没有头上的虚线*/
.details-right>ul>li:nth-child(1)>div:nth-child(2) {
    border-top: 0px dashed #eee;
}
.details-right>ul>li>div:nth-child(2)>a {
    /*float: left;*/
    display: inline-block;
    height: 14px;
    line-height: 14px;
    width: max-content;
    margin:5px;
    padding: 0px 10px;
    border-left: 1px solid #e0e0e0;
    /*white-space: nowrap;*/
}
/*左边的广告*/
.details-left-ad {
    padding:15px;
    margin: 0 auto;
}
.details-left-ad img{
    margin: 5px;
    /*width: 100px;*/
    border: 0;
    vertical-align: middle;
}
.details-left-ad a {
    display: block;
    width: 100%;
    overflow: hidden;
   }

/*<!--商品分类 缩略栏 end -->*/

/*<!--main start-->*/
    .main .w{
        position: relative;
    }
    .main-welcome-col1 {
        float: right;
        width: 216px ;
        height: 442px;
        background: white;
        box-shadow: 0 1px 15px 0 rgba(66,66,66,.26);
    }
    .main-online-customer-server {
        position: absolute;
        bottom: -430px;
        right: -88px;
        width: 74px;
        height: 74px;
        padding:10px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 62px 0 rgba(66,66,66,.26);
        box-sizing: border-box;
        z-index: 0;
        text-align: center;
    }
    .main-online-customer-server span{
        text-align: center;
        color: #000;
    }
    .main-online-customer-server i {
        display: block;
        width: 24px;
        height: 24px;
        background: url("../img/icon-客服.png") no-repeat;
        margin: 0 auto;
        margin-bottom: 7px;
    }
    .main-online-customer-server:hover i{
        background: url("../img/icon-客服.png") no-repeat -24px 0px;
    }
    .main-online-customer-server:hover a span {
        color: red !important;
    }


    /*用户 支付方式 竖着的栏*/
    .user-info {
        margin: 0 auto;
        width:200px;
        height:180px;
    }
    .user-login{
        text-align: center;
        margin-bottom: 15px;
    }
    .user-login h1{
        margin-bottom: 10px;
        font: 700 14px "microsoft yahei";
        color: #333;
    }
    .user-avatar{
        width: 50px;
        height: 50px;
        margin: 0 auto;
        padding: 15px 0px;
    }
    .user-login .user-split {
        margin: 0px 5px;
    }
    .user-guide a{
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 20px;
        border: 2px solid #c91623;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        color: #c91623;
        padding:2px 5px;
    }
    .user-guide:hover a{
        background: #c91623;
        color: white !important;
    }
    .pay-img {
        margin-bottom: 20px;
    }
    .main-welcome-col1-pay-guide {
        width: 200px;
        height: 135px;
        margin: 0 auto;
    }
    .pay-body h4 {
        margin-bottom: 5px;
        font: 700 12px "microsoft yahei";
        color: #666;
        text-align: center;
    }
    .pay-body p {
        padding: 0 12px;
        color: #999;
    }

        /*轮播图 START*/
    .main-global-slider {
        z-index: -999;
        position: relative;
        width:100%;
        height: 442px;
        background: url("../img/global-slider1.webp") center;
    }
    .slider-tab-nav {
        width:140px;
        height:12px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        right:50%;
        margin-left: -73px;
        font-size: 0;
        padding: 5px 2px;
        border-radius: 12px;
        background-color: rgba(255,255,255,.5);
    }
    .slider-tab-nav li{
        display: inline-block;
        margin-left: 10px;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: #fff;
        cursor: pointer;
    }
        /*轮播图 OVER*/

/*<!--main over-->*/

/*<!--秒杀 start -->*/
    .miaosha .w {
        position: relative;
        height:79px;
        background: url("../img/miaoshabg.png");
    }
    .miaosha .w .t-remain {
        position: absolute;
        top: 30px;
        left: 330px;
        height: 34px;
        color: #c91623;
        font-weight: 700;
        font-size: 18px;
        line-height: 34px;
    }
    .miaosha .t-remain .hour, .miaosha .t-remain .minutes,.miaosha .t-remain .seconds{
        display: inline-block;
        padding-left: 8px;
        width: 54px;
        letter-spacing: 19px;
        line-height: 36px;
    }
/*<!--秒杀 end -->*/


/*<!--可以秒杀的商品 start-->*/
    .slide-content {
        float: left;
        height: 254px;
        background: #000;
        width: 996px;
        position:relative;
        overflow: hidden;
    }
    .slide-content ul{
        position: absolute;
        width: 10000px;
        /*!*left: -100px;*!  滑动的话,就改这个!!*/
    }
    .miaosha-ad {
        float: right;
        width: 200px;
        overflow: hidden;
    }
        /*两个按钮*/
    .slide-content-btn-right , .slide-content-btn-left{
        position: absolute;
        top: 50%;
        z-index: 10;
        display: block;
        margin-top: -25px;
        padding: 0 2px;
        width: 26px;
        height: 40px;
        background: #ccc;
        color: #fff;
        vertical-align: middle;
        text-align: center;
        font: 30px/40px SimSun;
    }
    .slide-content-btn-right {
        left:5px;
    }
    .slide-content-btn-left {
        right:0px;
    }
    .slide-content-btn-right:hover, .slide-content-btn-left:hover {
        background: #666;
        color: #ffffff !important;
    }

    .slide-content-items {
        overflow: hidden;
    }
    .slide-content-items li {
        float: left;
        width: 200px;
        height: 254px;
        background: #fff;
    }
    .slide-content-items li img {
        width: 106px;
        height: 106px;
        background: #fff;
        display: block;
        margin: 0 auto;
        padding-bottom: 35px;
        transition: all .4s ease;  /*鼠标 移动进来和出去 都回缓慢切换*/
    }
    .slide-content-items li a {
        display: block;
        margin-top: 27px;
        padding-right: 23px;
        padding-left: 23px;
    }
    .slide-content-items li .product-name {
        display: block;
        overflow: hidden;
        -webkit-box-orient: vertical;
        width: 154px;
        height: 35px;
        text-align: center;
        text-overflow: ellipsis;
        font-size: 12px;
    }
    .slide-content-items li .cur-price {
        color: #f10215;
        font-size: 18px;
    }
    .slide-content-items li .del-price {
        float: right;
        color: #999;
        font-size: 12px;
    }
    .slide-content-items li .product-price {
        padding-top: 14px;
    }
    .slide-content-items li:hover img{
        transform: translateY(-5px);
    }

/*<!--可以秒杀的商品 end-->*/

/*本周大牌 start*/
    .dapai-title h3{
        padding-left: 10px;
        height: 52px;
        color: rgb(51, 51, 51);
        font-size: 24px;
        line-height: 52px;
        font-weight: 900;
    }
    .dapai-title span{
        padding-left: 10px;
        color: #666;
        font-weight: 400;
        font-size: 16px;
    }

    /*.dapai-body {*/
        /*background: blue;*/
    /*}*/
    .dapai-body-big-left {
        float: left;
        margin-right: 25px;
        width: 390px;
        height: 436px;
        overflow: hidden;  /*是div里面的img左移动*! 所以在img移出去的时候 要把它多出来的部分隐藏掉*/
    }
    .dapai-body a{
        /*包裹 img*/
        display: block;
    }
    .dapai-body-big-left img {
        transition: all 1s;
    }


    .dapai-body li{
        float: left;
        width: 235px;
        height: 213px;
        margin:0px 30px 10px 0px;
        overflow: hidden;
    }

    .dapai-body-big-right {
        float: right;
        width: 254px;
        height:436px;
        overflow: hidden;
    }

    .dapai-body a:hover img{
        transform: translateX(-10px);
    }

    .dapai-body img {
        /*要加上 已经向左边移动的10px*/
        width: calc(100% + 10px);
        transition: all .2s linear;
    }

    /*商标展示*/
    .dapai-brand-show {
        margin-top: 15px;
    }
    .brand-list li{
        width: 196px;
        height:80px;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
        margin: 2px 2px 0px 2px;
        padding: 25px 50px;
        background-color: #fff;
    }
    .brand-list img {
        transition: all .2s linear;
    }

    .brand-list li:hover img{
        transform: scale(1.05);
    }
/*本周大牌 over*/

/*<!--特色频道 start-->*/
    .tese-title .m-title,.m-title{  /*全局*/
        height:70px;
    }
    .tese-title h3,.m-title{     /*全局*/
        padding-left: 10px;
        /*height: 52px;*/
        font-size: 24px;
        line-height: 67px;
        font-weight: 900;
    }
    .tese-title span ,.m-title span{ /*全局*/
        padding-left: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    /*特色管*/
    .tese-body-guan-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .tese-body-guan-list>div{
        width: 389px;
        margin: 0px 5px;
    }
    .tese-body-guan-list>div>a{
        color: #fff;
        font-size:14px;
    }
    .tese-body-guan-list>div>a:hover{
        color: #fff !important;
    }
    .tese-body-guan-list>div>a h4{
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    .tese-body-guan-list>div>a {
        display: block;
        position: relative;
    }
    .tese-guan-item-info {
        position: absolute;
        top: 30px;
        left: 28px;
    }
    .tese-body-guan-list .img-look {
        position: absolute;
        top: 46px;
        right: 30px;
        padding: 6px 12px;
        border: 1px solid #fff;
    }

    /*管下面的商品*/
    .tese-product-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .tese-product-item li{
        overflow: hidden;
        margin-bottom: 14px;
        width: 198px;
        background: #fff;
    }
    .tese-product-item img,.biggerimg-outer{
        width: 126px;
        height: 126px;
        margin: 0 auto;
        padding: 20px 0px;
    }
    .biggerimg-outer {
        overflow: hidden;
    }
    .p-name {
        overflow: hidden;
        padding: 0 12px;
        height: 34px;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        width:80%;
        margin:0 auto;
        margin-top:30px;;
    }
    .biggerimg {
        width: 142px;
        height: 142px;
        display: block;
        margin: 0 auto;
        transition: all 1s;
    }
    .tese-product-item a:hover .biggerimg{
        transform: scale(1.05);
    }
    .p-price {
        overflow: hidden;
        margin-bottom: 20px;
        height: 36px;
        color: #f10215;
        text-align: center;
        font-size: 18px;
        font-family: arial;
        line-height: 36px;
    }
        /*分割线...*/
    .p-split {
        margin-top:40px;
        z-index: 1;
        width: 1px;
        height: 206px;
        background: #e2e2e2;
        font-size: 0;
    }

/*<!--特色频道 end-->*/

/*<!--有·京品京心造物 用心生活 start -->*/
    .youjinping-left-col {
        float: left;
        width: 250px;
        height: 620px;
        /*background: red;*/
        margin-right:10px;
    }
    .youjinping-left-col-top {
        margin-bottom: 10px;
        width: 250px;
        height: 460px;
        /*background: blue;*/
    }
    .youjinping-left-col-bottom {
        width: 250px;
        height:140px;
        /*background: blue;*/
    }
    .youjinping-product-items li {
        float: left;
        width: 225px;
        height: 300px;
        /*background: red;*/
        margin: 0px 10px 10px 0px;
    }
    .youjinping .w{
        /*background: black;*/
    }

/*<!--有·京品京心造物 用心生活 end -->*/
.youjinping-product-items a:hover .biggerimg{
    transform: scale(1.05);
}
.youjinping-product-items .biggerimg-outer{
    width: 142px;
    height: 142px;
    margin: 0 auto;
    padding: 20px 0px;
}
.youjinping-product-items li{
    background: white;
}
.youjinping-bottom {
    float: left;
    width: calc(100% - 10px);
    overflow: hidden;
}

/*默认图片向左边移动的样式  在用的时候要自己定义大小*/
.move2left10pxOutter {
    overflow: hidden;
    position: relative;
    /*border: 1px solid #000;*/
}
.move2left10pxOutter a:hover .move2left10pxImage,a:hover .move2left10pxImage{
    transform: translateX(-10px);
}
.move2left10pxImage {
    position: absolute;
    /*right: -10px;*/
    top: 0px;
    transition: all .4s ease;
    flex-direction: row-reverse;
    /*border: 1px solid red;*/
}
/*默认图片向左边移动的样式*/

/*<!--寻·好店精选优质好店 start-->*/
.xunhaodian-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.xunhaodian-item {
    width: 390px;
    height: 120px;
    margin: 0px 10px 10px 0px;
    background: white;
}
/*.xunhaodian .w {*/
    /*background: red;*/
/*}*/
.xunhaodian .move2left10pxOutter,.xunhaodian .move2left10pxImage {
    width: 106px;
    height: 106px;
    overflow: visible;
}
.xunhaodian a{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    color: #333;
    height: 100%;
    justify-content: center;
    padding: 0px 50px;
    align-content: space-between;
}
.xunhaodian a:hover{
    color: #333 !important;
}
.xunhaodian a div:nth-child(1){
    font-weight: 700;
    font-size: 16px;
    width: max-content;
    text-align: left;
    margin-bottom: 15px;
}
.xunhaodian a div:nth-child(2){
    padding: 5px 14px;
    border: 1px solid #000;
    width: max-content;
}

/*<!--寻·好店精选优质好店 end -->*/

/*<!--更多商品 start-->*/
.moreproduct {
    margin-bottom: 10px;
}
.moreproduct-nav ul {
    margin-bottom: 20px;
    width: 1210px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #f7f7f7;
}
/*.moreproduct-nav {*/
    /*margin-bottom: 100px;*/
/*}*/
.moreproduct-nav>ul{
    display: flex;
    flex-direction: row;
}
.moreproduct-nav li {
    box-sizing: border-box;
    width: 91px;
    height: 54px;
    margin-bottom: -2px;
    padding: 12px 0;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    transition: color .5s;
}

.moreproduct-nav-hidden{
    display: none;
}
.moreproduct-nav-hidden li {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    width: 79px;
    height:30px;
}
.moreproduct-nav .current, .moreproduct-nav>ul>li:hover{
    border-bottom: 5px solid #c91623;
    color: #c91623;
    font-weight: 700;
}
.nav-arrow {
    display: inline-block;
    width: 9px;
    height: 5px;
    background-image: url("../img/arrow-down.png");
    background-size: 9px 5px;
    background-repeat: no-repeat;
    font-size: 0;
    transition: all .2s;
}
.moreproduct-nav li:hover .nav-arrow {
    transform: rotate(180deg);
}
.moreproduct-nav li:last-child{
    position: relative;
}
.moreproduct-nav li:last-child:hover .moreproduct-nav-hidden {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    width:320px;
    height: 60px;

    margin:0px;
    padding:0px;
    color: #666;
    position: absolute;
    bottom:-67px;
    /*left: -100px;*/
    right:0px;
    box-shadow: 5px 5px 20px -2px  #888888;
}
.moreproduct-nav-hidden li:hover {
    color: #c91623;
}
/*商品列表*/
.moreproduct-items ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.moreproduct-items li {
    box-sizing: border-box;
    width: 230px;
    height: 311px;
    margin: 5px 0px;
    background: white;
    align-items:center;
}
.moreproduct-items a{
    display: block;
}
    /*布局over*/
.moreproduct-items .p-comment {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: center;
    color: #a7a7a7;
;
}
.moreproduct-items .p-name {
    color: #666;
}
.moreproduct-items .p-comment em {
    color: #646fb0;
    font-weight: 700;
    font-family: verdana;
}
.moreproduct-items .biggerimg-outer {
    /*background: blue;*/
    width: 142px;
    height: 142px;
    overflow: hidden;
}
.moreproduct-items .biggerimg {
    width: 142px;
    height: 142px;
    /*background: red;*/
}
.moreproduct-items a:hover .biggerimg {
    transform: scale(1.05);
}
/*<!--更多商品 end-->*/