/*热卖推荐 这个大方框 start*/

    /*整个方框的颜色*/
.remaituijian .w {
    position: relative;
    height: 152px;
    margin: 15px auto;
    background-color: #f1f1f1;
}
    /*热卖推荐的头部的 书签一样挂下来的东西 title*/
.remai-title{
    width: 30px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 18px;
    padding: 20px 10px 0 5px;
    font-size: 14px;
    text-align: center;
    font-family: "microsoft yahei";
    color: #f60;
    background: url(//misc.360buyimg.com/product/list/1.0.7/css/i/list.icons.other.png) no-repeat;
}

    /*中间的3个手机*/
.remai-body {
    margin-left: 70px;
}
.remai-body>div>img{
    float: left;
    width: 100px;
    height: 100px;
}
.remai-body>div {
    float: left;
    width: 264px;
    height: 100px;
    overflow: hidden;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 7px;
    margin-bottom: 15px;
    padding: 11px;
    background-color: #fff;
}
.remai-body>div>.pname {
    margin: 10px 0px;
    height: 30px;
    overflow: hidden;
}
.remai-body .p-price strong{
    float: left;
    line-height: 20px;
    font-size: 12px;
}
.remai-body .p-price {
    margin: 5px 0;
    padding:0;
    height: max-content;
}
.remai-body button {
    display: inline-block;
    line-height: 14px;
    height: 25px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #DDD;
    padding: 4px 13px 5px;
    color: #666;
    background-color: #f7f7f7;
}

    /*右边的促销活动*/
.remai-cuxiao {
    float: right;
    position: relative;
}
    /*右边的 促销的活动 的像书签一样挂下来的东西*/
.remai-cuxiao-title {
    width: 30px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 18px;
    padding: 20px 10px 0 5px;
    font-size: 14px;
    text-align: center;
    font-family: "microsoft yahei";
    color: #f60;
    background: url(//misc.360buyimg.com/product/list/1.0.7/css/i/list.icons.other.png) no-repeat;
}
.remai-cuxiao-detail {
    margin-left: 50px;
}
.remai-cuxiao-detail ul {
    margin-top:  15px;
}
.remai-cuxiao-detail li {
    width: 165px;
    height: 22px;
    overflow: hidden;
    line-height: 22px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: simsun;
}

/*热卖推荐 这个大方框 end*/

/*<!--手机通讯 面包屑 start-->*/
.shoujitongxun-title {
    font-size: 18px;
    font-weight: 700;
    font-family: "microsoft yahei";
}
.shoujitongxun-nav .w span {
    line-height: 24px;
    font-size: 12px;
    font-family: "SimSun", "宋体";
    margin: 0px 10px;
}
.shoujitongxun-nav {
    margin: 10px 0;
}
.shoujitongxun-nav .w>div{
    float: left;
}
.shoujitongxun-subtitle {
    position: relative;
    height: 22px;
    padding: 0 4px 0 8px;
    border: 1px solid #ddd;
    line-height: 22px;
    vertical-align: top;
}
.shoujitongxun-subtitle i{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background: url(//misc.360buyimg.com/product/list/1.0.7/css/i/search.ele.png) no-repeat 4px 7px;
    transition: all .2s;
}
.shoujitongxun-subtitle:hover i{
    background: url(//misc.360buyimg.com/product/list/1.0.7/css/i/search.ele.png) no-repeat 4px -44px;
}
.shoujitongxun-subtitle:hover ,.shoujitongxun-subtitle:hover .shoujitongxun-subtitle-hidden{
    display: block;
    border: 1px solid red;
}
.shoujitongxun-subtitle-hidden {
    display: none;
    background: white;
    box-sizing: border-box;
    position: absolute;
    width: 355px;
    height: max-content;
    left: -1px;
    top: 23px;
    padding: 5px;
}
.shoujitongxun-subtitle-hidden div{
    float: left;
    width: 65px;
    height: 24px;
    margin: 0px 3px 0px 0px;
}
.shoujitongxun-subtitle:hover:after {
    content: "";
    position: absolute;
    width:59px;
    height:5px;
    left:0px;
    top: 22px;
    display: block;
    background: white;
}
/*<!--手机通讯 面包屑 end -->*/

/*<!--搜索过滤器 start-->*/
.不知道叫啥的title .w {
    border-top:  1px solid #DDD;
    /*border-bottom: 1px solid #DDD;*/
    background: #F1F1F1;
    line-height: 34px;
    height: 34px;
}
.不知道叫啥的title .w h3 {
    float: left;
    padding-left: 10px;
}
.不知道叫啥的title .w h3 b{
    color: #e4393c;
    margin-right: 5px;
}
.不知道叫啥的title .w h3 em {
    font-weight: 700;
}
.search-filter-line2,.search-filter-line {
    background: white;
}
.search-filter-line-content ul {
    margin-left: 0px;
    float: left;
    width:86%;
}
.search-filter-line-content li {
    margin-top: -1px;
}
.search-filter-line2 .search-filter-line-content li {
    width: max-content;
}
.search-filter-line2 .search-filter-line-content li a{
    color: #000;
}
.search-filter-line2 .search-filter-line-content li:hover{
    box-shadow: 2px 2px 3px rgba(0,0,0,0);
}
.search-filter-line-title p{
    color: #999;
    font-weight: 400;
}
.search-filter-line-content .sl-price {
    float: left;
    padding-left: 10px;
}
.search-filter-line-content .sl-price input {
    width: 38px;
    height: 17px;
    padding: 1px;
    border: 1px solid #ccc;
}
.search-filter-line-content .sl-price a {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 10px 3px;
    line-height: 14px;
    height: 14px;
    border-radius: 2px;
    background: #F7F7F7;
    text-align: center;
    cursor: pointer;
    border: 1px solid #DDD;
    width: 30px;
    color: #000;;
}
.search-filter-line-selectMore:hover button {
    border: 1px solid red;
    border-top: white;
    color: red;
    transition: all .4s;

}
.search-filter-line-selectMore:hover button i{
    background-position: 4px -10px;
    transition: all .1s;
}
.search-filter-line-selectMore:hover {
    border-top: 1px solid red;
    transition: all .4s;

}
.search-filter-line-selectMore {
    height:40px;
    border: 1px solid white;
    border-top: 1px solid #dddddd;
}
.search-filter-line-selectMore button{
    display: block;
    margin: -1px auto;
    border: 1px solid #dddddd;
    border-top: white;
    background: white;
    position: relative;
    cursor: pointer;
    padding:5px 30px 5px 15px;
}
.search-filter-line-selectMore button i{
    position: absolute;
    right: 11px;
    top: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(//misc.360buyimg.com/product/list/1.0.7/css/i/search.ele.png) no-repeat 4px 7px;
}

.search-filter-lines-hidden {
    display: none;
}

/*收起的盒子：*/
.search-filter-line-anti-selectMore:hover button {
    border: 1px solid red;
    border-bottom: 2px solid white;
    color: red;
    transition: all .4s;
}
.search-filter-line-anti-selectMore:hover button i{
    background-position: 4px -45px;
    transition: all .1s;
}
.search-filter-line-anti-selectMore:hover {
    border-bottom: 1px solid red;
    transition: all .4s;
}
.search-filter-line-anti-selectMore {
    height:40px;
    border: 1px solid white;
    border-bottom: 1px solid #dddddd;
    position: relative;
    display: none;
}
.search-filter-line-anti-selectMore button{
    display: block;
    margin: -1px auto;
    border: 1px solid #dddddd;
    border-bottom: white;
    background: white;
    position: relative;
    padding:5px 30px 5px 15px;
    bottom: -12px;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.search-filter-line-anti-selectMore button i{
    position: absolute;
    right: 8px;
    top: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(//misc.360buyimg.com/product/list/1.0.7/css/i/search.ele.png) no-repeat 4px -28px;
}
/*<!--搜索过滤器 end--f>*/

/*广告start*/
.this_is_a_ad_outer .w{
    /*float: left;*/
    /*height:0px;*/
    /*margin:0;*/
    /*width:0;*/
}
.this_is_a_ad {
    float: left;
    background: red;
    width: 100px;
    height:100px;
    position: absolute;
}
/*广告end*/

/*商品的缩略图 选择 start*/
.main-list .agood .p-scroll .ps-prev{
    float: left;
}
.main-list .agood .p-scroll .ps-next{
    float: right;
}
.main-list .agood .p-scroll .ps-item {
    box-sizing: border-box;
    float: left;
    /*width: 34px;*/
    /*height: 29px;*/
    padding:2px;
    margin:1px;
    margin-bottom: 2px;
    text-align: left;
}
.main-list .ps-item {
    cursor: default;
    display: inline-block;
    border: 1px solid #ddd;
}
.main-list .ps-item a {
    display: block;
}
.p-scroll .ps-prev, .p-scroll .ps-next{
    width: 15px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: #aaa;
    font-size: 16px;
    font-family: "\5b8b\4f53";
    cursor: pointer;
}
.p-scroll {
    margin: 5px 0px;
}
.p-scroll .ps-item:hover {
    border-width: 2px;
    border-color: #e4393c;
}
/*商品的缩略图 选择 end*/