.w {

}

#global-toolbar-wrap {
    position: fixed;
    height:100%;
    width: 10px;
    right:0px;
    background: #7a6e6e;
}
#global-toolbar-wrap div em{
    z-index: -10;
    position: absolute;
    width:60px;
    height:35px;
    left:45px;
    top:0px;
    background: blanchedalmond;
    transition: all .2s;
    color: white;
    font-family:微软雅黑;
    z-index: 1;
    line-height: 35px;
    border-radius: 4px 0 0 4px;
    text-indent: 5px;
}

#global-toolbar-wrap>div {
    z-index: 20;
    position: absolute;
    width: 50px;
    height: 35px;
    right:-5px;
    margin-bottom: 1px;
    cursor: pointer;
    background: url("../img/gloabl-toolbars.png") no-repeat #7a6e6e;
    border-radius: 4px 0 0 4px;
    transition: all .2s;

}
#global-toolbar-wrap i {
    z-index: 20;
    position: absolute;
    width: 55px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background: url("../img/gloabl-toolbars.png") no-repeat #7a6e6e;
    border-radius: 4px 0 0 4px;
}
/*变红色*/
#global-toolbar-wrap>div:hover em,#global-toolbar-wrap>div:hover i{
    background-color: #c81623;
}
/*滑出来*/
#global-toolbar-wrap div:hover em{
    display: block;
    transform: translateX(-100px);
    transition-delay: .4s;
}


#global-toolbar-wrap>div:nth-child(1)>i{
    background-position: -86px -174px;
}
#global-toolbar-wrap>div:nth-child(1){
    top:100px;
}
#global-toolbar-wrap>div:nth-child(2)>i{
    background-position: -48px 0px;
}
#global-toolbar-wrap>div:nth-child(2){
    top: 137px;
}
#global-toolbar-wrap>div:nth-child(3)>i {
    background-position: -47px -49px;
}
#global-toolbar-wrap>div:nth-child(3){
    top: 174px;
}
#global-toolbar-wrap>div:nth-child(4)>i{
    background-position: -187px -151px;
}
#global-toolbar-wrap>div:nth-child(4){
    top: 211px;
}
#global-toolbar-wrap>div:nth-child(5)>i{
    background-image: url(//img14.360buyimg.com/uba/jfs/t5647/127/9531976167/1032/78b9967f/5988704aNcbdab58e.png);
    background-position: 0px -1px;
}
#global-toolbar-wrap>div:nth-child(5){
    top: 265px;
}
#global-toolbar-wrap>div:nth-child(6)>i{
    background-position: -47px -250px;
}
#global-toolbar-wrap>div:nth-child(6){
    top: 302px;
}
#global-toolbar-wrap>div:nth-child(7)>i{
    background-position: -47px -301px;
}
#global-toolbar-wrap>div:nth-child(7){
    top: 339px;
}
#toolbar-erwerima-em:hover{
    transform: translateX(0px);
}
#toolbar-erweima:hover em div{
    /*left:-65px;*/
    /*top:-200px;*/
    transform: translateX(-65px);
    transition-delay: .4s;
}
#toolbar-erweima>em>div {
    position: absolute;
    width:120px;
    height: 156px;
    background: #e4393c;
    left:0px;
    top:-121px;
    transition: all .2s;
}
/*二维码栏的样式*/
#toolbar-erwerima-em div{
    padding: 8px 10px;
    box-sizing: border-box;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
}
#toolbar-erwerima-em div p{
    margin-bottom: 10px;
}
/*<!--网站的搜索栏 购物车 商标 start-->*/
.search-moreAlink b{
    float: left;
    margin:0 10px 10px 0px;
    padding: 6px 0;
    color: #999;
}
.search-input input {
    width:500px;
    margin-left: 0px;
    border-color: #f30213;
}
.search-input button {
    background: #f30213;
}
.search-moreAlink {
    margin-left: 0px;
    width: 710px;
}
.search-car {
    margin-right:0px;
}
.search-log a {
    background: url(../img/jdlogo-201708-@1x.png) no-repeat 0 0;
}
.search-car-dorpdown-layer {
    display: none;
    box-sizing: border-box;
    position: absolute;
    right: -1px;
    width: 308px;
    height: 75px;
    top:35px;
    background: #F9F9F9;
    padding:10px 10px 10px 40px;
    border: 1px solid #DFDFDF;
}
.search-car-dorpdown-layer b {
    float: left;
    width: 56px;
    height: 49px;
    background-image: url(../img/settleup-nogoods.png);
}
.nogoods {
    line-height: 54px;
}
.spacer {
    position: absolute;
    top: -5px;
    right: -1px;
    width: 139px;
    height: 10px;
    background: #F9F9F9;
    border-right: 1px solid #DFDFDF ;
}
.search-car:hover .search-car-dorpdown-layer{
    display: block;
}
/*<!--网站的搜索栏 购物车 商标 end-->*/

/*<!--网站的详细导航 start-->*/
.site-main-nav {
    padding-top: 10px;
    height: 33px;
    border-bottom: 2px solid #f30213;
    background: white;
}
.categorys {
    float: left;
    position: relative;
    z-index: 10;
    width: 190px;
    height: 33px;
    line-height: 33px;
    background: #f30213;
    text-align: center;
}
.categorys a {
    color: white;
    font-size: 14px;
}
.navitems {
    background: blue;
}
.navitems ul {
    float: left;
    width: max-content;
}
.navitems ul li{
    float: left;
    width: max-content;
}
.navitems ul li a{
    height: 33px;
    padding: 0 22px;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
    color: #333;
    font-weight: 700;
}
.navitems .spacer{
    position: static;
    float: left;
    width: 1px;
    height: 13px;
    margin: 10px 0;
    background: #eee;
    overflow: hidden;
}
.categorys:hover .shortcut-nav-menu-items{
    visibility: visible;
}
.shortcut-nav-menu-items{
    visibility: hidden;
    background: white;
}
.shortcut-nav-menu-items a{
    color: black;
}
/*<!--网站的详细导航 end-->*/
